source https://nuget.org/api/v2
storage: none

nuget FSharp.Core redirects: force

# AspNetCore
nuget Microsoft.AspNetCore.Http.Abstractions

# Fable
nuget Fable.Core
clitool dotnet-fable

nuget Fable.Import.Node

# Test
nuget Microsoft.NET.Test.Sdk
nuget MSTest.TestAdapter
nuget MSTest.TestFramework
